@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --dark-mode: selector;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
}
